<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.silvertouch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SilverTouch">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 인싸테스트 -->
        <activity android:name="inssa_test.InsiderTestStart" />

        <!-- 미션들 -->
        <activity android:name="mission.mission_0" />
        <activity android:name="mission.mission_1" />
        <activity android:name="mission.mission_2" />
        <activity android:name="mission_0.m0_00" />
        <activity
            android:name="mission_0.m0_01"
            android:screenOrientation="landscape" />
        <activity
            android:name="mission_0.m0_02"
            android:screenOrientation="landscape" />
        <activity android:name="mission_0.m0_03"
            android:screenOrientation="landscape"></activity>



    </application>

</manifest>